<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
</head>
<body>
    <h1>Current Player: {{ player }}</h1>
    <div class="container">
        <div id="new-game" (click)="newGame()">START NEW GAME</div>
    </div>
    <h2 *ngIf="winner">
        Player using {{winner}} won the game!
    </h2>
    
    <main>
        <app-square *ngFor="let val of squares; let i=index"
                    [value]="val" (click)="makeMove(i)">
        
        </app-square>
    </main>

    <h3>Tic Tac Toe. Made by Fortune Alebiosu</h3>
    
</body>
</html>
